/* Style the entire page */
body {
    background-color: #7c7c7c; /* Grey shaded background */
    text-align: center;        /* Center all content */
    font-family: Arial, sans-serif;
}

/* Style the heading */
h1 {
    color: #ffffff; /* Regal Blue Text */
    text-shadow: 3px 3px 3px #000000;
}

h2 {
    margin-bottom: 10px;
    margin-top: 25px;
    color: #ffffff; /* Regal Blue Text */
    text-shadow: 1px 1px 1px #000000;
}

/* Style the displayed image */
img {
    align-items: start;
    max-width: 750px; /* Limit image size */
    margin-top: 35px;
}

/* Style the button */
button {
    margin-top: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

p {
    color: #ffffff
}